# --------------------------------------------------
# Git
# --------------------------------------------------
.git
.gitignore

# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------
.venv/
venv/
env/

# --------------------------------------------------
# Jupyter
# --------------------------------------------------
.ipynb_checkpoints/
notebooks/

# --------------------------------------------------
# VS Code
# --------------------------------------------------
.vscode/

# --------------------------------------------------
# Database
# --------------------------------------------------
database/*.db

# --------------------------------------------------
# Reports
# --------------------------------------------------
reports/
*.pdf

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# OS Files
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Pytest
# --------------------------------------------------
.pytest_cache/

# --------------------------------------------------
# Build Files
# --------------------------------------------------
dist/
build/