# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
*.pth
*.pt

# Large data
dataset/

# Outputs
outputs/

# OS files
.DS_Store
Thumbs.db